<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJS - Lecture 1-29</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

  <div id="app">
    <!-- button -->
    <button v-on:click="counter++">Increase</button>
    <button v-on:click="counter--">Decrease</button>
    <p> Counter: {{ counter }} </p>
    <p> Result: {{ result() }} </p>
    <p> {{counter * 2 > 10? 'Greater than 10':'Smaller than 10'}} </p>
    <p>Coordinates: {{x}} / {{y}} </p>
    <p v-on:mousemove="updateCoordinates">
    Coordinates: {{x}} /{{y}}
    - <span v-on:mousemove.stop="">DEAD SPOT</span> </p>
    <!-- key modifier - look at list of available modifiers -->
    <input type="text" v-on:keyup.enter.space="alertMe">
    <!-- <input type="text" v-on:input="changeTitle"> -->
    <!-- cannot use curly braces in html attribute -->
    <h1 v-once>{{ title }} </h1>
    <!-- <p>{{ sayHello()}} - <a v-bind:href="link">Google</a></p> -->
    <p v-html= "finishedLink"></p>
<!-- two way binding -->
    <input type="text" v-model="name">{{name}}</input>

    <div
      class ="demo"
      @click="attachRed = !attachRed"
      :class="divClasses"></div>
      <div class="demo" :class="{red:attachRed}"></div>
      <div class="demo" :class="color"></div>
      <hr>
      <input type="text" v-model="color">
    </div>

  <script>
  //by creating a new instance you create a connection with html code.
  // have access to everything stored in methods just by typing title.
    new Vue({
      el: '#app',
      data: {
      color: 'green',
      attachRed: false,
      name: 'Tessa',
      counter: 0,
      x: 0,
      y: 0,
      title: 'hello world!',
      link: 'http://google.com',
      finishedLink: '<a href="http://google.com">Google</a>'
  },
  computed: {
    output: function(){
      return this.counter > 5 ? 'Greater 5' : 'Smaller than 5';
    },
    divClasses: function(){
      return {
        red: this.attachRed,
        blue: !this.attachRed
      }
    }
  },
  watch: {
    counter: function(value) {
      var vm = this;
      setTimeout(function(){
        vm.counter = 0;
      }, 2000);
    }
  },
  methods:
  // methods: {
  //   sayHello: function(){
  //   this.title = 'Hello!';
  //   return this.title
  //   }
  {
    result: function() {
      return this.counter > 5 ? 'Greater 5' : 'Smaller than 5'
    },
      increase: function(step, event) {
      this.counter+= step;
    },
      updateCoordinates: function(event){
        this.x = event.clientX;
        this.y = event.clientY;
    },
      dummy: function(event){
      event.stopPropogation();
    },
      alertMe: function(){
      alert('alert!');
    }
  }
  });
  </script>
  </body>
</html>
